# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependências e ambientes
node_modules/
.venv/
venv/
__pycache__/
*.py[cod]

# Builds e binários
build/
dist/
*.exe
*.out
*.o

# Logs e arquivos temporários
*.log
*.tmp
*.temp
.env
.env.*
!.env.example

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
