.navegador{
    height: 100px;
    width: 100%;
    background-color: red;
    display: inline-block;
    margin: 0;
}
.botao1 {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    margin-right: 10px;
    float: right;
    position: relative;
    right: 30px;
}
.botao2 {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    margin-right: 10px;
    float: right; 
    position: relative;
    right: 50px;
   

}
.botao3 {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    margin-right: 10px;
    float: right;
     position: relative;
    right: 70px;

}
.botao4 {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    margin-right: 10px;
    float: right;
     position: relative;
    right: 90px;


}
.botao:hover{
    background-color: yellow;
    border-radius: 15px;
    padding: 22px;
}

.botoes{
    border: solid 1px blue;
    width: 50%;
    height: 80px;
    float: right;
}

.centro{
    text-align: center;
      position: relative;
    top: 150px;
    align-items: center;
}