/*FORMULARIO PARA TREINAR JS  */
body {
    display: flex;
    /* height: auto; */
    align-items: center;
    justify-content: center;
    background-color: #0056b3;
    flex-flow: row wrap;

}

.alinhamento {
    width: 100%;
    height: 600px;
    display: flex;
    /* height: auto; */
    /* border: solid 1px red; */
    align-items: center;
    justify-content: center;
    background-color: #0056b3;
    flex-flow: row wrap;


}


.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button {
    margin-top: 20px;
    text-align: center;
    
}